:root{
  --background: #cce2e2;
  --bodyBackground: #eeedeb;
  --light: #fff;
  --dark: #35797d;
}

*, html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS';
  font-size: 10px;
}

.flexRowSpaced{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.flexRowBottom{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

.flexRowRight{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.flexRowLeft{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.flexRowCenter{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flexColumnCenter{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flexColumn{
  display: flex;
  flex-direction: column;
}

.flexColumnSpaced{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
